a {
  color: #111177;
  font-family: verdana, arial, sans-serif;
  text-decoration: none;
  font-weight:bold;
}
a:link {
  color: #111177;
  text-decoration: none;
}
a:visited	{
  color: #5555BB;
  text-decoration: none;
}
a:active {
  color: #5555BB;
}
a:hover {
  color: #9999BB;
}

table {
	empty-cells: show;
}

body {
  font-family: verdana, arial, sans-serif;
  color: #222;
  font-weight:normal;

  margin: 20px 20px 20px 20px;
  background: #FFF;
}




